/*-------- 8. Footer style  -----*/

.copyright {
    .footer-logo {
        margin-bottom: 12px;
        margin-top: 41px;
        @media #{$xs-layout, $md-layout}{
            margin-top: 0px;
        }
        img#logo-footer-sm {
            @media screen and (max-width: 710px) {
                width:35% ;
                height:35% ;
                display: block;
            }
            @media screen and (min-width: 711px){
                display: none;
            }
        }
        img#logo-footer-md{
            @media screen and (max-width: 710px)
            {
                display: none;
            }
            @media screen and (min-width: 711px){
                display: block;
            }
        }
        @media #{$lg-layout}{
            margin-top: 28px;
        }
    }
    p {
        color: $dark;
        letter-spacing: .9px;
        a {
            color: $dark;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &.copyright-white {
        p {
            color: $white;
            a {
                color: $white;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.footer-widget {
    .footer-title {
        h3{
            font-size: 16px;
            font-weight: 500;
            color: $dark;
            margin: 0 0 16px;
            line-height: 1;
        }
    }
    .footer-list {
        ul {
            li{
                margin: 0 0 11px;
                &:last-child {
                   margin: 0 0 0px;
                }
                a {
                    color: $bg-white;
                    letter-spacing: .3px;
                    &:hover {
                        color: rgba(11, 75, 252, 0.2);
                    }
                }
            }
        }
    }
    &.footer-widget-white {
        .footer-title {
            h3{
                color: $bg-white;
            }
        }
        .footer-list {
            ul {
                li{

                    color: $bg-white;
                    p{
                        color: $bg-white;

                    }
                    a {
                        color: $bg-white;
                        transition: 0.5s linear;

                    }
                }
            }
        }
    }
    .subscribe-style {
        p {
            color: $bg-white;
            margin: 0 0 20px;
        }
        .subscribe-form {
            form {
                input {
                    background: transparent;
                    font-size: 13px;
                    color: $bg-white;
                    border: none;
                    border-bottom: 2px solid $bg-white;
                    padding: 2px 10px 2px 0;
                }
                .button {
                    width: auto;
                    height: auto;
                    color: $bg-white;
                    font-size: 14px;
                    padding: 8px;
                    line-height: 1;
                    border: 2px solid #f3f3f3;
                    text-transform: uppercase;
                    margin: 13px 0 0;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;


                    // &:hover {
                    //     color: $theme-color;
                    //     border-bottom: 2px solid $theme-color;
                    // }
                }
            }
        }
        &.subscribe-style-white {
            p {
                color: #e6e6e6;
            }
            .subscribe-form {
                form {
                    input {
                        color: #a4a4a4;
                        border-bottom: 2px solid #ebebeb;
                    }
                    .clear {
                        input {
                            color: $white;
                            border-bottom: 2px solid #b5b5b6;
                            &:hover {
                                color: $theme-color;
                                border-bottom: 2px solid $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
    @media #{$xx-layout}{
        &.ml-95 {
            margin-left: 20px;
        }
        &.ml-145 {
            margin-left: 50px;
        }
	}
    @media #{$xl-layout}{
        &.ml-95, &.ml-30 {
            margin-left: 0px;
        }
        &.ml-145 {
            margin-left: 20px;
        }
        &.ml-ntv5 {
            margin-left: -50px;
        }
	}
    @media #{$lg-layout, $md-layout, $xs-layout}{
        &.ml-95, &.ml-145, &.ml-30, .ml-ntv5 {
            margin-left: 0px;
        }
	}
}

.footer-widget.ml-30 , .footer-widget.ml-50, .footer-widget.ml-75 {
    @media #{$md-layout, $xs-layout, $lg-layout}{
		margin-left: 0;
	}
}

.footer-widget.ml-70 {
    @media #{$md-layout}{
		margin-left: -130px;
	}
    @media #{$xs-layout, $lg-layout}{
		margin-left: 0px;
	}
    @media #{$sm-layout}{
		margin-left: -90px;
	}
}

/* home 4 */
.hm4-footer-padding .container-fluid {
	padding: 0 60px;
    @media #{$xx-layout}{
		padding: 0 60px;
	}
    @media #{$xl-layout, $md-layout}{
		padding: 0 30px;
	}
    @media #{$lg-layout, $xs-layout}{
		padding: 0 15px;
	}
}

.footer-area {
    position: relative;
    background-image: $the_gradient;
    &.ml-10 {
        margin-left: 0;
    }
    @media #{$xl-layout}{
        &.ml-70 {
            margin-left: 15px;
        }
        &.mr-70 {
            margin-right: 15px;
        }
    }
    @media #{$lg-layout}{
        &.ml-70 {
            margin-left: 30px;
        }
        &.mr-70 {
            margin-right: 30px;
        }
    }
    @media #{$md-layout}{
        &.ml-70 {
            margin-left: 40px;
        }
        &.mr-70 {
            margin-right: 40px;
        }
        &.mb-70 {
            margin-bottom: 40px;
        }
    }
    @media #{$xs-layout}{
        &.ml-70 {
            margin-left: 15px;
        }
        &.mr-70 {
            margin-right: 15px;
        }
        &.mb-70 {
            margin-bottom: 15px;
        }
    }
    .whatsapp{
        position: fixed;
        //right: 6%;
        width: 50px;
        height: 50px;
        background-color: $theme-color;
        color: $white;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        right: 20px;
        bottom: 18px;
        border-radius: 50%;
        text-align: center;
        z-index: 9999;
        h5{
            color: white;
            //background: $theme-color;
            padding: 10px;
            border-radius: 50%;
        }
    }
}

/* home 5 */
.footer-top {
    position: relative;
    z-index: 9;
    p {
        color: #fffefe;
        line-height: 28px;
        margin: 31px auto 33px;
        width: 55%;
        @media #{$md-layout}{
            width: 85%;
        }
        @media #{$xs-layout}{
            width: 100%;
        }
    }
    .footer-social {
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 0 23px;
                position: relative;
                line-height: 1;
                &:before {
                    position: absolute;
                    content: "";
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #7c7b7b;
                    width: 16px;
                    height: 2px;
                }
                &:last-child:before {
                    display: none;
                }
                a {
                    color: #e5e5e5;
                    font-size: 16px;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        &.footer-social-white {
            ul {
                li {
                    &:before {
                        background-color: $white;
                    }
                }
            }
        }
    }
    &.pb-60 {
        @media #{$xs-layout}{
            padding-bottom: 60px;
        }
    }
}
.footer-bottom {
    position: relative;
    z-index: 9;
}
.copyright-2 {
    padding-top: 20px;
    margin-top: 60px;
    border-top: 1px solid #2b2b2b;
    p {
        color: $white;
        line-height: 1;
        a {
            color: $white;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &.copyright-white-border {
        border-top: 1px solid #cccccc;
    }
    &.copyright-gray {
        p {
            color: #848484;
            a {
                color: #848484;
                letter-spacing: .9px;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.footer-white {
    .footer-top {
        p {
            color: $black;
        }
        .footer-social {
            ul {
                li {
                    a {
                        color: $black;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    .copyright-2 {
        padding-top: 20px;
        padding-bottom: 23px;
        margin-top: 0px;
        border-top: none;
    }
}

.footer-border {
    border-top: 1px solid #e2e2e2;
}






































