/* ==========================
    Sidebar Mobile Menu
==============================*/

.show-mobile-menu {
    &.offcanvas-mobile-menu-wrapper {
        opacity: 1;
        visibility: visible;

        .mobile-menu-inner {
            transform: none;
        }
    }
}

.offcanvas-mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    z-index: 99999;

    .mobile-menu-overlay {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba($black, 0.8);
    }

    .mobile-menu-inner {
        position: relative;
        width: 400px;
        max-width: 80%;
        height: 100%;
        text-align: right;
        transition: all .3s;
        transform: translateX(-100%);
        background-color: $white;

        .close-btn {
            position: absolute;
            height: 65px;
            width: 65px;
            border: none;
            left: 100%;
            top: 0;
            padding: 0;
            font-size: 50px;
            color: $black;
            background-color: $white;

            &:hover {
                background-color: $theme-color;
                color: $white;

                i {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.mobile-menu-inner-wrapper {
    height: 100%;
    overflow-y: auto;
}

.offcanvas-mobile-search {
    background-image: $the_gradient;
}

.mobile-search-inner {
    display: flex;
    height: 65px;
    background-color: $the_gradient;

    input {
        padding: 0 15px;
        height: 100%;
        border: none;
        background-color: transparent;
        color: $bg-white;
    }

    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $bg-white;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $bg-white;
        opacity: 1;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $bg-white;
        opacity: 1;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $bg-white;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $bg-white;
    }

    ::placeholder {
        /* Most modern browsers support this now. */
        color: $bg-white;
    }

    button {
        width: 60px;
        height: 100%;
        font-size: 25px;
        color: $bg-white;
    }
}

.offcanvas-body-inner {
    padding: 30px 20px;
}

.offcanvas-tools {
    margin-top: 30px;

    .same-language-currency {
        margin-bottom: 15px;

        select {
            border: 1px solid #ddd;
            padding: 5px 10px;
        }

        span {
            display: flex;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
}

.offcanvas-widget-area {
    margin-top: 30px;

    ul {
        display: inline-block;

        li {
            margin-bottom: 10px;

            i {
                color: $theme-color;
            }

            a {
                padding-left: 10px;
            }
        }
    }
}